@font-face {
	font-family: Corinthia;
	src: url(../fonts/Corinthia.ttf);
}
/*-----------------------------------------common*/
body {
	font-family: 'Playfair Display', serif;
}
section {
	padding-top: 100px;
	padding-bottom: 70px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.btn-container {
	display: flex;
	justify-content: center;
}
.btn {
	width: 402px;
	text-align: center;
	display: inline-block;
	padding: 20px 43px;
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	text-decoration: none;
	box-sizing: border-box;
	background: #cddc55;
	transition: .3s;
}
.btn:hover {
    box-shadow: 0px 0px 17px 0px #00000059;
}
.btn-with-border{
	display: inline-block;
	text-decoration: none;
	color:  #555555;
	font-size: 24px;
	padding: 15px 30px;
	box-sizing: border-box;
	border: 2px solid #cddc55;
	transition: .3s;
}
.btn-with-border:hover {
	background: #cddc55;
}
.section-title {
	color: #333333;
	font-size: 45px;
	text-align: center;
	margin-bottom: 60px;
}
/*-----------------------------------------menu*/
.navbar {
	width: 100%;
	position: fixed;
	padding: 20px 0;
	background: #fff;
	z-index: 9999;
}
.navbar .container {
	display: flex;
	justify-content: space-between;
}
.menu {
	display: flex;
	align-items: center;
}
.menu-item {
	/*display: inline-block;*/
	margin: 0 40px 0;
	border-bottom: 2px solid transparent;
}
.menu-link {
	display: inline-block;
	padding: 3px 0 3px;
	color:  #606060;
	font-size: 22px;
	text-decoration: none;
}
.menu-item:hover{
	border-bottom: 2px solid #cddc55;
}
/*.telephone {
	display: inline-block;
	text-decoration: none;
	color:  #555555;
	font-size: 24px;
	padding: 15px 30px;
	box-sizing: border-box;
	border: 2px solid #cddc55;
	transition: .3s;
}
.telephone:hover {
	background: #cddc55;
}*/
/*-----------------------------------------head*/
.head {
	/*height: 100vh;*/
	background: #f7f8f8;
}
.head-main-contant {
	box-sizing: border-box;
	padding: 50px 0 100px;
	position: relative;
}
/*=====================*/
.blabla {
	width: 680px;
	height: 460px;
	background: darkgray;
}
/*=====================*/
.head-title-block {
	position: absolute;
	bottom: 60px;
  left: 500px;
	padding: 60px 50px;
	width: 450px;
	background: #fff;
}
.corinthia-txt {
	font-family: Corinthia;
	color:  #9c91bc;
	font-size: 53px
}
.head-title {
	font-size: 76px;
	text-align: center;
	margin-bottom: 50px;
}
.head-discription {
 	color:  #333333;
	font-size: 25px;
	text-align: justify;
 }
/*-----------------------------------------welcome*/
.welcome {

}
.welcome-txt {
	color:  #333333;
	font-size: 25px;
	line-height: 33px;
	text-align: justify;
	margin-bottom: 50px;
}
.img-ul-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-img {
  margin-right: 20px;
}
.welcome-list{
	color:  #333333;
	font-size: 25px;
	font-weight: 400;
}
.citation {
	color:  #5e5584;
	font-size: 28px;
	font-style: italic;
	line-height: 45px;
	text-align: justify;
	margin: 75px 90px 10px;
	position: relative;
}
.citation-highlight {
	font-size: 40px;
}
.left-quote {
	position: absolute;
	bottom: -30px;
  left: -110px;
  font-size: 145px;
}
.right-quote {
	position: absolute;
	top: 30px;
	right: -75px;
	font-size: 145px;
}
/*-----------------------------------------certificates*/
.certificates {
	/*height: 360px;*/
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	background: #f7f8f8;
}
.certificates-slider {
	margin: 0 auto;
	width: 90%;
	position: relative;
}
.sprite3-left-cenrt {
    width: 28px;
    height: 49px;
    background-position: -5px -5px;
    left: -35px;
    top: 47px;
}

.sprite3-right-cert {
    width: 28px;
    height: 49px;
    background-position: -81px -5px;
    right: -35px;
    top: 47px;
}
.certificates-slide {
	background: beige;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
	margin: 10px;
}
/*-----------------------------------------what-would-you-get*/
.what-would-you-get {
	color: #333333;
}
.what-would-you-get-title {
}
.what-would-you-get-list {
	font-size: 26px;
	line-height: 41px;
	text-align: justify;
	margin-right: 30px;
  padding-left: 40px;
  box-sizing: border-box;
}
.what-would-you-get-list li {
	position: relative;
}
.sprite-check {
  width: 33px;
  height: 28px;
  background-position: -5px -5px;
  position: absolute;
  left: -45px;
  top: 5px;
}
.bottom-txt {
	font-size: 36px;
	font-style: italic;
	text-align: center;
	margin-top: 100px;
}
.get-consultation {
	background: #f0ebf5;
	height: 62px;
	padding: 50px 0;
}
/*-----------------------------------------reviews*/
.reviews-slider {
	margin: 0 auto;
	width: 85%;
	position: relative;
}
.reviews-slide {
	height: 240px;
	background: #f7f8f8;
	padding: 50px;
	box-sizing: border-box;
	color:  #333333;
	font-size: 22px;
}
.rev-head {
	font-size: 22px;
	margin-bottom: 25px;
}
.rev-txt {
	color:  #555555;
	font-size: 20px;
	font-style: italic;
	text-align: justify;
}

.sprite3 {
  background-image: url(../img/spritesheet3.png);
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}
.sprite3-left-rev {
    width: 28px;
    height: 49px;
    background-position: -43px -5px;
    left: -45px;
    top: 90px;
}
.sprite3-right-rev {
    width: 28px;
    height: 49px;
    background-position: -5px -64px;
    right: -45px;
    top: 90px;
}

.slick-dots {
	bottom: -50px;
}
.slick-dots li button:before {
  font-size: 30px;
  color: #f0ebf5;
}
.slick-dots li.slick-active button:before {
  color: #c4b6cf;
}
/*-----------------------------------------questions*/
.questions {
	background: #f7f8f8;
}
.questions-block {
	display: flex;
	justify-content: space-around;
}
.questions-block img {
  height: 480px;
}
.questions-items-container{
	width: 660px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  margin-right: 20px;		
}
.question {
	padding: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	background: #c4b6cf;
	cursor: pointer;
	transition: .3s;
}
.question:last-child {
	margin-bottom: 0;
}
.question-txt {
	color:  #333333;
	font-size: 22px;
}
.questions .btn-container {
	margin-top: 45px;
}
.questions .btn-with-border {
	width: 402px;
	box-sizing: border-box;
	text-align: center;
}
.answer {
	/*opacity: 0;*/
	color: #666;
	font-size: 18px;
	text-align: justify;
}
.clicked {
	background: #fff;
}
.clicked .question-txt {
	margin-bottom: 20px;
}
/*-----------------------------------------contacts*/
.contacts .container{
	position: relative;
}
.contacts-block {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	top: 135px;
	/*background: #ff634745;*/
}
.contacts-block-item {
	display: block;
	text-decoration: none;
	/*width: 255px;*/
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
}
.contacts-block-item-txt {
	color:  #333333;
	font-size: 26px;
	text-align: center;
}

.sprite2-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 80px;
	margin: 0 auto;
	/*border: 2px solid olive;*/
	margin-bottom: 40px;
}

.sprite2 {
  background-image: url("../img/spritesheet2.png");
  background-repeat: no-repeat;
  display: inline-block;
}


.sprite-location {
  width: 60px;
  height: 86px;
  background-position: -48px -5px;
}

.sprite-mail {
  width: 100px;
  height: 72px;
  background-position: -118px -5px;
}

.sprite-telephone {
  width: 85px;
  height: 85px;
  background-position: -118px -87px;
}

/*-----------------------------------------contact-form*/
.contact-form {
	background: #f0ebf5;
	padding-top: 260px;
}
.contact-form-txt {
	color:  #333333;
	font-size: 22px;
	text-align: center;
	margin-bottom: 70px;
}
.inputs-textarea {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.form-inputs {
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}
.input, .textarea {
	width: 550px;
	border: none;
	font-family: PlayfairDisplay;
	font-size: 18px;
	color: #333;
	outline: none;
	box-sizing: border-box;
	padding: 20px;
} 
.input {
	margin-bottom: 15px;
}
.input:last-child {
	margin-bottom: 0;
}
.input::placeholder {
  color:  #999999;
}
.textarea {
	resize: none;
}
.textarea::placeholder {
  color:  #999999;;
}
.form-btn {
	font-family: PlayfairDisplay;
	height: 62px;
  font-weight: 400;
	border: none;
	outline: none;
	cursor: pointer;
}
/*-----------------------------------------footer*/
.footer {
	background: #c3b5ce;

	height: 260px;
}
.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.line {
	background: #fff;
	width: 1px;
	height: 50%;
}

.footer-name {
	font-family: Corinthia;
	color:  #ffffff;
	font-size: 65px;
}
.footer-title-txt {
	color:  #fff;
	font-size: 16px;
	text-align: center;
}

.footer-nav-list {
	width: 160px;
}
.footer-nav-item {
	margin-bottom: 5px;
}
.footer-nav-link {
	color:  #fff;
	font-size: 22px;
	text-decoration: none;
	transition: .3s;
}
.footer-nav-link:hover  {
	font-weight: 600;
}

.footer-contacts {

}
.margin-bottom {
	margin-bottom: 15px;
}

.footer-icons .sprite {
	margin-right: 25px;
}
.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 15px;
}

.sprite-call {
  width: 24px;
  height: 25px;
  background-position: -5px -5px;
}

.sprite-fb {
  width: 28px;
  height: 28px;
  background-position: -39px -5px;
}

.sprite-inst {
  width: 28px;
  height: 28px;
  background-position: -5px -43px;
}

.sprite-post {
  width: 28px;
  height: 20px;
  background-position: -43px -43px;
}

.sprite-telegram {
  width: 28px;
  height: 29px;
  background-position: -81px -5px;
}

.sprite-what {
  width: 28px;
  height: 28px;
  background-position: -81px -44px;
}

/*.footer-phone, .footer-mail {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}*/
.footer-phone-item, .footer-mail-item {
	color:  #ffffff;
	font-size: 22px;
  text-decoration: none;
}

@media only screen and (max-width: 1260px) {
	.container {
    width: inherit;
    margin: 0px 50px;
	}
	.navbar .container {
		width: 93%;
    /*justify-content: space-around;*/
    /*margin: 0;*/
	}
	.menu-item {
    margin: 0;
    margin-right: 40px;
    border-bottom: 2px solid transparent;
	}
	.input, .textarea {
    width: 400px;
  }
	@media only screen and (max-width: 1160px) {
	  .head-title-block {
	  	left: inherit;
		  right: -20px;
		}
	}
}